<%= link_to '&laquo; Back'.html_safe, root_path, class: 'back-button' %>
<h1><%= link_to @repository.name, @repository.url %></h1>

<ul class="contributor-dates">
  <% @repository.contributors.each do |contributor| %>
    <li>
      <span><%= link_to contributor.login, contributor.html_url %></span>
      - <%= time_ago_in_words(Contributor.new(contributor.login, @repository).last_contributed_at) %> ago
    </li>
  <% end %>
</ul>

<h2>Top Contributors</h2>

<ul class="usage-chart">
  <% @repository.contributors.each do |contributor| %>
    <li>
      <p class="usage-name"><%= contributor.login %></p>
      <p style="height: <%= contributor.contributions %>px;" class="usage-bar"></p>
      <p class="usage-total"><%= contributor.contributions %></p>
    </li>
  <% end %>
</ul>
